<div style="display: flex;flex-direction: column;">
    <div style="display: flex;align-content: center;align-items: center;flex-wrap: nowrap;flex-direction: row;justify-content: space-around;">
        <form class="formRoute2" action="/", method="get" style="float: right; align-items: center;">
            <button>Crear Productos</button>
        </form>
        <form class='formRoute1' action="/productos" method="get" style="float: right; align-items: center;">
            <button>Ver Productos</button>
        </form>
    </div>
</div>