<div id="productsContainer">
    <table  border="1" align="center">
        <thead>
            <tr>
                <th>TITULO</th>
                <th>PRECIO</th>
                <th>PORTADA</th>
            </tr>
        </thead>
        <tr> 
            <td><strong><%= description %></strong></td>
            <td>$<%= price %></td>
            <td><img alt="item img" src="<%=thumbnail%>" width="100px" height="100px"/></td>
        </tr>
    </table>
</div>