<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body style="background-color: darkkhaki;">
    <div style="display: flex;flex-direction: column;">
        <div style="display: flex;align-content: center;align-items: center;flex-wrap: nowrap;flex-direction: row;justify-content: space-around;"">
            <form action="/" method="get" style="float: right; align-items: center;">
                <input type="submit" value="Crear Productos">
            </form>
            <form action="/productos" method="get" style="float: right; align-items: center;">
                <input type="submit" value="Ver Productos">
            </form>
        </div>
    <div style="display: flex; flex-direction: column; flex-wrap: nowrap; align-items: center; padding: 25px;">
        <form action="/" method="post" style="display: flex; flex-direction: column;flex-wrap: nowrap;align-items: flex-start;padding: 10px; background-color: #e9ecef; border: 2px black solid;">
            <h2 style="color: #070707;">Ingrese Producto</h2>
            <p>Nombre</p>
            <input type="text" name="name">
            <p>Precio</p>
            <input type="number" name="price">
            <p>Foto URL</p>
            <input type="text" placeholder="Foto URL" name="thumbnail">
            <br>
            <br>
            <input type="submit" value="Enviar" style="background:#4aaf55; color: white;border: none;padding: 7px;">
        </form>
    </div>
</body>
</html>